.expSection{
	&:not(:last-of-type){ margin-bottom: 150px; }
	a{
		text-decoration: none;
		color: black;
		&:hover{ text-decoration: underline; }
	}
	.eduExpDetails{
		line-height: $lineHeight;
		margin-bottom:40px;
	}
	.expSectionHeader{
		display: inline-block;
		padding-bottom: 10px;
		margin-bottom: 10px;
		width: 100%;
		border-bottom: $blackBorder;
	}
	.expSecondarySectionHeader{
		font-size: 0.95em;
	}
	.eduHeaderSection{
		@include flexLayout($justifyContent: start, $alignItems: center);
		margin-bottom: 40px;
		img, i{
			width: 60px;
			height: 60px;
			margin-right: 20px;
		}
		i{
			font-size: 2.4em;
			text-align: center;
		}
	}
}