.navbarWrapper{
	@include flexLayout($justifyContent: space-between);
	position: absolute;
	width: 100%;
	.navbar{
		@include flexLayout();
		list-style-type: none;
		color: $secondaryTextColor;
		font-weight: 300;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
		li{
			cursor: pointer;
			padding-top:1%;
			&:not(:last-of-type){ margin: 0 40px 0 0; }
			@media (max-width: 812px){
				@include flexLayout($justifyContent: center, $alignItems: center);
				cursor: pointer;
				width: 100%;
				padding: 45px 0;
				margin: 0 !important;
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				&:hover::after{ width: 0; }
			}
		}
		li::after{
			display: none;
			@media (min-width: 768px){
				display: inline-block;
				content: '';
				border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				width: 0;
				transition: width 0.2s ease-in;
			}
		}
		li:hover::after{
			width: 100%;
		}
		@media (max-width: 812px){
			@include flexLayout($justifyContent: center, $alignItems: center, $flexDirection: column);
			margin: 0;
			z-index: 9;
			display:none;
			position:fixed;
			left: 0; top: 0;
			width: 80%; height: 100vh;
			text-align:left;
			background-color: $primaryColor;
		}
	}
	#burger{
		display: block;
		position:absolute;
		z-index: 10;
		top:0;
		background:black;
		width:100%;
		color: $secondaryTextColor;
		padding: 20px 20px 20px 0;
		text-align: right;
		cursor: pointer;
		.burgerInner{
			height: 20px;
			width: 20px;
			margin-left: 10px;
		}
		@media (min-width: 768px){ display: none; }
	}
	@media (min-width: 768px){
		top: 30px; right: 0; left: 0;
		margin: 0 auto;
		width: $heroImageContentsWidth;
	}
}


.navbarVisible{
	display: flex !important;
	justify-content: center;
	flex-direction: column;
    padding: 0;
	margin: 0;
	width: 100% !important;
}

// .burgerWhenNavbarVisible{
// }