* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Ubuntu;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  position: absolute;
  width: 100%;
  top: 100%;
  background: #EBEBEB;
}

@media (max-width: 700px) {
  .mainContainer {
    width: 99%;
  }
}

.mainSection {
  text-align: center;
  padding: 120px 22% 70px 22%;
}

.mainSection:nth-of-type(odd) {
  background-color: white;
}

@media (max-width: 700px) {
  .mainSection {
    padding: 120px 5% 70px 5%;
  }
}

h1, h2, h4 {
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 90px;
  color: #AA1111;
  margin: 0 0 100px 0;
}

@media (max-width: 700px) {
  h1 {
    margin: 0 0 50px 0;
    font-size: 40px;
  }
}

h2 {
  color: #AA1111;
  text-align: left;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.navbarWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.navbarWrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  color: white;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.navbarWrapper .navbar li {
  cursor: pointer;
  padding-top: 1%;
}

.navbarWrapper .navbar li:not(:last-of-type) {
  margin: 0 40px 0 0;
}

.navbarWrapper .navbar li::after {
  display: inline-block;
  content: '';
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.navbarWrapper .navbar li:hover::after {
  width: 100%;
}

#burger {
  display: none;
}

.navbarVisible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}

.burgerWhenNavbarVisible {
  padding-left: 310px !important;
}

@media (max-width: 812px) {
  .navbar {
    margin: 0;
    z-index: 9;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    text-align: left;
    background-color: #AA1111;
  }
  .navbar li {
    cursor: pointer;
    width: 100%;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 10px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .navbar li:hover::after {
    width: 0;
  }
  #burger {
    display: block;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: 50px;
    color: white;
    padding-left: 10px;
    padding-top: 14px;
    cursor: pointer;
  }
}

.hero_image {
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.87)), to(rgba(0, 0, 0, 0.87))), url("/newhero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("/newhero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.hero_image .heroTextOutter {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
}

.hero_image .heroTextOutter .heroText {
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.hero_image .heroTextOutter .heroText h1, .hero_image .heroTextOutter .heroText p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.hero_image .heroTextOutter .heroText h1 {
  color: white;
  font-size: 120px;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0 0 0;
  font-weight: 300;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin-right: 70px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  color: white;
  padding: 30px 0;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription .fewWords {
  text-align: justify;
  width: 60%;
  line-height: 29px;
}

@media (max-width: 700px) {
  .hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription .fewWords {
    width: 100%;
    text-align: center;
  }
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul .infoHeader {
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 5px;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul .infoHeader i {
  margin-left: 15px;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul .infoElement {
  display: block;
  font-size: 0.9em;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul .infoElement a {
  margin-left: 15px;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul li .location {
  text-decoration: none;
  margin: 0;
  color: white;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul li .location:hover {
  text-decoration: underline;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul li .location:hover .fa-map-marker-alt {
  color: #AA1111;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .heroDescription ul li .location .fa-map-marker-alt {
  margin-left: 10px;
}

.hero_image .heroTextOutter .heroDescriptionAndSeeMoreButton .seeMoreButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 11%;
          flex: 0 1 11%;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .hero_image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/heromobile.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/heromobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 545px) {
  .heroText {
    padding-top: 150px;
  }
}

@media (max-width: 812px) {
  .heroText {
    display: block;
  }
  .heroText p {
    width: auto !important;
  }
}

.isVisible {
  opacity: 1 !important;
}

.experience .eduexp {
  text-align: left;
}

.experience .eduexp h2 {
  margin-bottom: 80px;
}

.experience .eduexp h2:last-of-type {
  border-top: 1px solid #AA1111;
  padding-top: 150px;
  margin-top: 150px;
}

@media (max-width: 702px) {
  .experience #eduexp {
    width: 80%;
  }
}

.expSection:not(:last-of-type) {
  margin-bottom: 150px;
}

.expSection a {
  text-decoration: none;
  color: black;
}

.expSection a:hover {
  text-decoration: underline;
}

.expSection .eduExpDetails {
  line-height: 29px;
  margin-bottom: 40px;
}

.expSection .expSectionHeader {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

.expSection .expSecondarySectionHeader {
  font-size: 0.95em;
}

.expSection .eduHeaderSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.expSection .eduHeaderSection img, .expSection .eduHeaderSection i {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.expSection .eduHeaderSection i {
  font-size: 2.4em;
  text-align: center;
}

.skills h2 {
  margin-bottom: 50px !important;
}

.skills #languages {
  line-height: 29px;
  text-align: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #AA1111;
}

.skills #languages .language {
  display: inline-block;
  text-align: right;
  font-weight: 400;
  width: 50px;
  margin-right: 20px;
}

.skills .techAndToolsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px auto 0 auto;
}

.skills .techAndToolsContainer div {
  text-align: left;
}

.skills .techAndToolsContainer ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.6em;
}

.skills .techAndToolsContainer ul li {
  padding: 7px;
  margin: 15px 0;
  -webkit-transition: background-color 0.1s, font-weight 0.1s;
  transition: background-color 0.1s, font-weight 0.1s;
}

.skills .techAndToolsContainer ul li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.skills .techAndToolsContainer ul li .techIcon, .skills .techAndToolsContainer ul li .toolIcon {
  font-size: 1.4em;
  text-align: center;
  display: inline-block;
  width: 30px;
}

.skills .techAndToolsContainer ul li .techName, .skills .techAndToolsContainer ul li .toolName {
  margin-left: 15px;
}

.skills .techAndToolsContainer ul li .techExtras, .skills .techAndToolsContainer ul li .toolExtras {
  font-weight: 300;
  font-size: 0.9em;
}

@media (max-width: 1389px) {
  .skills .tools {
    text-align: left;
    width: 330px;
    border-top: 1px solid rgba(194, 91, 86, 0.4);
  }
}

.portfolio {
  padding: 120px 0 70px 0;
}

.portfolio h2 {
  margin-bottom: 60px;
}

.portfolio .projects {
  margin-bottom: 150px;
  line-height: 29px;
  text-align: left;
}

.portfolio .projects p {
  margin-top: 30px;
}

.portfolio .projects .professionalProjectsInnerWrapper, .portfolio .projects .otherProjectsInnerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  .portfolio {
    padding: 120px 12% 70px 12%;
  }
}

.projectPreview {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

.projectPreview:hover .projectPreviewOverlappingSection {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.projectPreview .projectPreviewMainSectionInner, .projectPreview .projectPreviewOverlappingSection {
  height: 85%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projectPreview .projectPreviewMainSection {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 9px;
  width: 80%;
  height: 100%;
}

.projectPreview .projectPreviewMainSection .projectPreviewMainSectionInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  right: 0;
}

.projectPreview .projectPreviewMainSection .projectPreviewMainSectionInner .memoryGameButton {
  text-align: center;
}

.projectPreview .projectPreviewMainSection .projectPreviewMainSectionInner .headerAndDescription h2 {
  margin: 0;
}

.projectPreview .projectPreviewMainSection .projectPreviewMainSectionInner .headerAndDescription p {
  margin-right: 25px;
  font-size: 0.9em;
}

.projectPreview .projectPreviewOverlappingSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-filter 0.4s, -webkit-box-shadow 0.4s;
  transition: -webkit-filter 0.4s, -webkit-box-shadow 0.4s;
  transition: filter 0.4s, box-shadow 0.4s;
  transition: filter 0.4s, box-shadow 0.4s, -webkit-filter 0.4s, -webkit-box-shadow 0.4s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 9px;
  width: 50%;
}

.projectPreview .topokatOverlappingSection {
  background-image: url("/construction_site.jpg");
}

.projectPreview .gremshinovaOverlappingSection {
  background-image: url("/renovation.jpg");
}

.projectPreview .memoryGameOverlappingSection {
  background-image: url("/memory.jpg");
}

@media (min-width: 768px) {
  .projectPreview {
    width: 500px;
  }
}

.visitDemoButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border: none;
  border-radius: 5px;
  width: 125px;
  height: 48px;
  background-color: #AA1111;
  text-decoration: none;
  color: white;
  line-height: normal;
  font-weight: 300;
}

.visitDemoButton:-moz-focus-inner {
  border: 0;
}

.visitDemoButton:hover {
  text-decoration: none;
  background-color: white;
  border: 1px solid #AA1111;
  color: #AA1111 !important;
}

.contact {
  background-color: #EBEBEB;
}

.contact #inner_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact #inner_contact .epilogue {
  line-height: 29px;
  color: black;
}

.contact #inner_contact .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
}

.contact #inner_contact .contacts .contactSectionButton {
  font-size: 1.2em;
  color: black;
  margin: 0 20px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.contact #inner_contact .contacts .contactSectionButton:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (max-width: 1112px) {
  .epilogue {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 680px) {
  .contacts {
    text-align: center;
  }
  .contacts .fab, .contacts .fa-at {
    margin-right: 0;
  }
  .epilogue {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
  }
}

.upButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border: none;
  cursor: pointer;
  font-size: 0.7em;
  text-decoration: none;
  border-radius: 9px;
}

.upButton:hover {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.upButton:-moz-focus-inner {
  border: 0;
}

.bottomNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 80px 0;
  background-color: black;
  color: #FEF6EB;
}

.bottomNavbar li {
  cursor: pointer;
}

.bottomNavbar li:not(:last-of-type) {
  border-right: 1px solid #FEF6EB;
  padding: 0 40px 0 0;
  margin: 0 40px 0 0;
}
/*# sourceMappingURL=App.css.map */