.skills{
	h2{ margin-bottom: 50px !important; }
    #languages{
        line-height: $lineHeight;
        text-align:left;
        padding-bottom:30px;
        border-bottom: $primaryColorBorder;
        .language{
            display: inline-block;
            text-align: right;
            font-weight: 400;
            width: 50px;
            margin-right: 20px;
        }
    }
    .techAndToolsContainer{
        @include flexLayout($justifyContent: space-between);
        margin:20px auto 0 auto;
        div{ text-align:left; }
        ul{
            list-style:none;
            padding-left:0;
			line-height: 1.6em;
            li{
                padding: 7px;
				margin: 15px 0;
				transition: background-color 0.1s, font-weight 0.1s;
                &:hover{ background-color: rgba(0, 0, 0, 0.06); }
				.techIcon, .toolIcon{
					font-size: 1.4em;
					text-align: center;
					display: inline-block;
					width: 30px;
				}
				.techName, .toolName{ margin-left: 15px; }
				.techExtras, .toolExtras{
					font-weight: 300;
					font-size: 0.9em;
				}
            }
        }
    }
    @media (max-width:1389px){
		.tools{
			text-align:left;
			width:330px;
			border-top:1px solid rgba(194,91,86, 0.4);
		}
    }
}

@mixin coloredHeartBeat($animationName){
	animation: $animationName 2s infinite alternate;
}

.sass-color{ @include coloredHeartBeat(sass-color); }
.js-color{ @include coloredHeartBeat(js-color); }
.react-color{ @include coloredHeartBeat(react-color); }
.css-color{ @include coloredHeartBeat(css-color); }
.ubuntu-color{ @include coloredHeartBeat(ubuntu-color); }
.git-color{ @include coloredHeartBeat(git-color); }
.text-editor-color{ @include coloredHeartBeat(text-editor-color); }
.firefox-color{ @include coloredHeartBeat(firefox-color); }
.cli-color{ @include coloredHeartBeat(cli-color); }

@mixin coloredHeartBeatAnimation($name, $color){
	@keyframes #{$name}{
		100%{
			transform: scale(1.4);
			color: $color;
		}
	}
}

@include coloredHeartBeatAnimation(cli-color, #04fe00);
@include coloredHeartBeatAnimation(firefox-color, #ff4140);
@include coloredHeartBeatAnimation(text-editor-color, #4ab1f3);
@include coloredHeartBeatAnimation(git-color, #f05133);
@include coloredHeartBeatAnimation(ubuntu-color, #de4816);
@include coloredHeartBeatAnimation(css-color, #1572b7);
@include coloredHeartBeatAnimation(react-color, #61dafb);
@include coloredHeartBeatAnimation(js-color, #f7df1e);
@include coloredHeartBeatAnimation(sass-color, #cf649a);