.skills{
    #languages{
        line-height:210%;
        text-align:left;
        padding-bottom:30px;
        border-bottom:1px solid rgba(194,91,86, 0.4);

    }
    .techAndToolsContainer{
        @include flexLayout($justifyContent: start);
        margin:20px auto 0 auto;
        .tech{ margin-right: 80px; }
        div{
            text-align:left;
            width:330px;
        }
        ul{
            list-style:none;
            padding-left:0;
            li{
                padding: 7px;
                &:hover{
                    background: rgba(0, 0, 0, 0.06);
                    font-weight: 400;
                }
            }
        }
    }
    @media (max-width:1389px){
    .tools{
            text-align:left;
            width:330px;
            border-top:1px solid rgba(194,91,86, 0.4);
        }
    }
}