.skills{
	h2{ margin-bottom: 50px !important; }
    #languages{
        line-height: $lineHeight;
        text-align:left;
        padding-bottom:30px;
        border-bottom: $primaryColorBorder;
        .language{
            display: inline-block;
            text-align: right;
            font-weight: 400;
            width: 50px;
            margin-right: 20px;
        }
    }
    .techAndToolsContainer{
        @include flexLayout($flexDirection: column, $justifyContent: space-between);
        margin:20px auto 0 auto;
        div{ text-align:left; }
        ul{
            list-style:none;
            padding-left:0;
			line-height: 1.6em;
            li{
				@include flexLayout($justifyContent: flex-start, $alignItems: center);
                padding: 9px;
				margin: 15px 0;
                &:hover{ background-color: rgba(0, 0, 0, 0.06); }
				.techName{ margin-left: 15px; }
				.techExtras{
					font-weight: 300;
					font-size: 0.9em;
				}
				.techIconInner{
					width: 27px; height: 27px;
					text-align: center;
					display: inline-block;
				}
            }
        }
    }
}

.techAndToolsContainer2{
	@include flexLayout($flexDirection: column, $justifyContent: space-evenly, $alignItems: flex-start);
	padding-top: 70px;
	.skillsSection{
		@include flexLayout($justifyContent: center, $flexDirection: column, $alignItems: flex-start);
		margin-top: 60px;
		.skillsSectionList{
			@include flexLayout($justifyContent: center, $flexDirection: column, $alignItems: flex-start);
            list-style:none;
			font-weight: 300;
            padding: 0;
			margin: 0;
			.skillsSectionItem{
				@include flexLayout($flexDirection: column, $alignItems: flex-start);
				margin: 13px 0;
				height: 37px;
				font-size: 18px;
				.skillsSectionItemNote{
					font-size: 0.75em;
					font-weight: 300;
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		h2{
			font-weight: 400;
			font-size: 28px;
		}
		.skillsSectionIcon{
			width: 60px;
			height: 60px;
			text-align: center;
			color: $primaryColor;
			display: inline-block;
		}
		@media(min-width: 1024px){
			margin-top: 0;
		}
	}
	@media(min-width: 1024px){
		@include flexLayout($flexDirection: row, $justifyContent: space-evenly, $alignItems: flex-start);
	}
}