.projectPreview{
	position: relative;
	width: 100%; height: 500px;
	margin-top: 100px;
	.projectPreviewMainSectionInner, .projectPreviewOverlappingSection{
		height: 85%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.projectPreviewMainSection{
		position: absolute;
		top: 0; right: 0;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: $borderRadius;
		width: 80%; height: 100%;
		.projectPreviewMainSectionInner{
			@include flexLayout($flexDirection: column, $justifyContent: space-between, $alignItems: start);
			width: 55%;
			right: 0;
			.memoryGameButton{ text-align: center; }
			.headerAndDescription{
				h2{ margin: 0; }
				p{
					margin-right: 25px;
					font-size: 0.9em;
				}
			}
		}
	}
	.projectPreviewOverlappingSection{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		z-index: 3;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: $borderRadius;
		width: 50%;
	}

	.topokatOverlappingSection{ background-image: $lightLinearGradient, url("/construction_site.jpg"); }
	.gremshinovaOverlappingSection{ background-image: $lightLinearGradient, url("/renovation.jpg"); }
	.memoryGameOverlappingSection{ background-image: $lightLinearGradient, url("/memory.jpg"); }

	@media (min-width: 768px){ width: 500px; }
}

.visitDemoButton{
	@include flexLayout($display: inline-flex, $wrap: wrap, $alignItems: center, $justifyContent: center);
	transition:background-color 0.2s;
	&:-moz-focus-inner{ border:0; }
	border: none;
	border-radius: 5px;
	width: 125px; height: 48px;
	background-color: $primaryColor;
	text-decoration: none;
	color: white;
	line-height: normal;
	font-weight: 300;
	&:hover{
		text-decoration: none;
		background-color: white; 
		border: 1px solid $primaryColor;
		color: $primaryColor !important;
	}
}