.contact{
	background-color: $mainGray;
    #inner_contact{
        @include flexLayout($flexDirection: column, $justifyContent: space-between, $alignItems: center);
        .epilogue{
            line-height: $lineHeight;
            color: rgba(0, 0, 0, 1);
        }
        .contacts{
            @include flexLayout($justifyContent: center);
            margin-top: 60px;
			.contactSectionButton{
				font-size: 1.2em;
				color: rgba(0, 0, 0, 1);
				margin: 0 20px;
				transition: transform 0.1s;
				&:hover{
					transform: scale(1.4);
				}
			}
        }
    }
}

@media (max-width: 1112px){
    .epilogue{
        text-align:center;
        width:80%;
        margin-bottom:40px;
    }
}

@media screen and (max-width: 680px){
    .contacts{
        text-align:center;
        .fab, .fa-at{ margin-right:0; }
    }
    .epilogue{
        border-bottom:1px solid rgba(255,255,255, 0.3);
        text-align:left;
    }

}