.contact{
    background:#525564;
    #inner_contact{
        @include flexLayout($flexDirection: column, $justifyContent: space-between, $alignItems: center);
        .epilogue{
            font-style: italic;
            line-height: $lineHeight;
            color: #F3EFE0;
        }
        .contacts{
            @include flexLayout($justifyContent: space-between);
            margin-top: 60px;
            font-size:0.7em;
            width:16%;
            min-width: 160px;
            a{
                text-decoration:none;
                color:rgb(158, 161, 181);
                transition: transform 0.1s ease-in;
                &:hover{
                    color:$secondaryTextColor;
                    cursor:pointer;
                    transform: scale(1.4);
                }
            }
            .fab, .fa-at{
                color:$secondaryTextColor;
                border-radius:12%;
            }
        }
    }
}

@media (max-width: 1112px){
    .epilogue{
        text-align:center;
        width:80%;
        margin-bottom:40px;
    }
}

@media screen and (max-width: 680px){
    .contacts{
        text-align:center;
        .fab, .fa-at{ margin-right:0; }
    }
    .epilogue{
        border-bottom:1px solid rgba(255,255,255, 0.3);
        text-align:left;
    }

}