.contact{
    background:#525564;
    #inner_contact{
        @include flexLayout($flexDirection: column, $justifyContent: space-between, $alignItems: center);
        .epilogue{
            font-style: italic;
            line-height: $lineHeight;
            color: #F3EFE0;
        }
        .contacts{
            @include flexLayout($justifyContent: center);
            margin-top: 60px;
        }
    }
}

@media (max-width: 1112px){
    .epilogue{
        text-align:center;
        width:80%;
        margin-bottom:40px;
    }
}

@media screen and (max-width: 680px){
    .contacts{
        text-align:center;
        .fab, .fa-at{ margin-right:0; }
    }
    .epilogue{
        border-bottom:1px solid rgba(255,255,255, 0.3);
        text-align:left;
    }

}

@import './ContactSection/ContactSection';