.contact{
	background-color: $mainGray;
    #inner_contact{
        @include flexLayout($flexDirection: column, $justifyContent: space-between, $alignItems: center);
        p{
            line-height: $lineHeight;
			text-align: center;
            color: rgba(0, 0, 0, 1);
			@media (max-width: 1112px){
				width:80%;
				margin-bottom:40px;
			}
        }
        .contacts{
            @include flexLayout($justifyContent: center, $alignItems: center);
            margin-top: 60px;
			.contactSectionButton{
				color: rgba(0, 0, 0, 1);
				margin: 0 20px;
				transition: transform 0.1s;
				.contactIcon{
					width: 38px;
					height: 38px;
				}
				&:hover{
					transform: scale(1.4);
				}
			}
			@media (max-width: 680px){ text-align:center; }
        }
    }
}