.upButton{
    @include flexLayout($justifyContent: center, $alignItems: center);
    position: fixed;
    bottom: 20px; right: 20px;
    padding: 15px;
    color:$secondaryTextColor;
    text-shadow: $primaryTextShadow;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));;
    border:none;
    cursor:pointer;
    font-size: 0.7em;
    text-decoration:none;
    border-radius:$borderRadius;
    &:hover{
        background-color: transparent;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
    &:-moz-focus-inner{
        border:0;
    }
}